* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

.topbar {
  display: flex;
  flex-direction: row;
  height: 5vh;
  justify-content: space-around;
  background-color:rgb(197, 221, 235) ;
  border: 10px solid rgb(197, 221, 235);
}
.leftbarlink{
  flex-grow: 1;
  text-align: left;
}
.centerbarlink{
  flex-grow: 1;
  text-align: center;
}
.rightbarlink{
  flex-grow: 1;
  text-align: right;
}
.bodytext{
  text-align: left;
}
.pictures{
  display: flex;
  flex-direction: row;
  margin: 2%;
  /* text-align: center; */
  justify-content: center;
  flex-wrap: wrap
}
.portfoliomedia{
  display: flex;
  flex-direction: row;
  /* text-align: center; */
  justify-content: space-around;
  flex-wrap: wrap
}
.bodytext{
  margin: 1%;
}

figcaption{
  text-align: center;
}
figure{
  margin: 0.3%;
}
form{
  margin: 0.3%;
}
